tickTime={{ tick_time }}
dataDir={{ data_dir }}
dataLogDir={{ log_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}

{% for server in groups['private-zk-nodes'] %}
server.{{loop.index}}={{server}}:2888:3888
{% endfor %}
